:root
{
    --primary-color:#7469B6;
    --light-1:#AD88C6;
    --light-2:#E1AFD1;
    --light-3:#FFE6E6;
    --dim : #c7c1c1;
    --light : #6e6767;

}
body{
    font-size: 18px;
    font-weight: 600;
    /* font-family: system-ui; */
    
    font-family: cursive;
}
i{
    font-size: 29px;
}
a{
    text-decoration: none;
}
.btn{
    background-color: var(--light-1);
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    color: #fff;
}
.btn:hover{
    background-color: var(--light-2);
    color: #000;
}
.border
{
    border: 1px solid --light;
    border-radius: 25px;
}
.btn-second{
    color: #000;
    background-color: var(--light-3);
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    font-size: 16px;
    border: none;
}
.btn-second:hover{
    background-color: var(--light-1);
    color: #fff;
}
.light{
    color: var(--light);
}
.dim{
    color: var(--dim);
}
hr{
    height: 2px !important;
}
.w-100{
    width: 100% !important;
}
/* -------------------- Navbar style --------------  */
.navbar{
    background-color: var(--light-3);
}.navbar-brand img{
    width: 5.5rem;
}
.navbar{
    border: 1px solid --light-3;
    box-shadow: 1px 1px 5px var(--light-3);
}
.navbar-nav{
    gap: 2rem !important;
}
.small{
    font-size: 14px;
}
.green{
    color: green;
}
.nav-link:hover{
    color: var(--primary-color) !important;
    transform: scale(1.1);
}
/* -------------- Hro section style -------  */

#hero .row
{
display: flex; justify-content: center; align-items: center;
}
#hero h1{
    font-size: 45px;
}.hero-head-div {
    padding: 7rem;
}
.hero-head-div p{
    color: var(--dim);
}

/* ----------------- Pricing styles ----------------  */
#pricing .row{
    display: flex;
justify-content: space-evenly;
}
.price-card{
    /* border: 1px solid black; */
    border-radius: 25px;
    padding: 2rem 3rem;
    background-color: #d1c2d8;
    color: #fff;
}

.card-2 {
    background-color: #AD88C6;
}
.card-3{
    background-color: #ccbada;
}
#pricing .btn{
    color: var(--light-3) !important;
}
/* ----------------- contact us style -----------------  */
#contact-us .form-div{
    
    border: 1px solid #fff;
    background: var(--light-3);
    border-radius: 55px;
    padding: 5rem !important;
}
#contact-us .form-div:hover{
    box-shadow: 1px 1px 10px rgb(194, 192, 192);
}
.form-div input{
    border:1px solid #e2e1e1;
    height: 40px;
    border-radius: 10px;
    
}
.form-div textarea{
    border-radius: 10px;
    border:1px solid #e2e1e1;
}
.form-div i{
    font-size: 16px;
}

/* -------------- Footer section --------------------  */

footer{
    background-color: var(--light-2);
}
ul{
    list-style-type: none;
}
li a{
    color: #fff;
    font-size: 17px;
    text-align: center;
}
footer i{
    margin-right: 8px;
}
.flex{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.flex-img{
    align-items: center;
    display: flex;
}

/* ---------------------- Login page style ------------------  */

.login-half{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-half h3{
    color: #ea92a8;
    /* text-align: center; */
}
.ul
{
    text-decoration: underline;
}
.flex{
    display: flex;
    align-items: baseline;
    gap: 2rem;
}
.light3{
    color: var(--light-1)
}
.todo-task p{
    color: var(--light);
}
.addBtn{
    border: none;
    background-color: white !important;
}
.flag{
    font-size: 20px !important;
}
.trash{
    color: #6e6767;
    transition:all ease-in-out 0.2s;
}.trash:hover{
    color: #000;
    transform: scale(1.3);}
.compleated-task{
    text-decoration: line-through;
}
.com-heading{
    text-decoration: underline;
    color: var(--light-1);
    margin-top: 6rem !important;
}
.com-task{
    text-decoration: none !important;
}
.flex2{
    display: flex;
    justify-content: left;
}
.task-date{
    color: #6e6767;
    font-size: 12px;
}
.flag-due
{
    font-size: 15px !important;
}
.task-div{
    border: 1px solid var(--light-2);
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 9px;

   
}
.logout-btn button{
    background: var(--light-3);
/* display: flex; */
position: absolute;
bottom: 29px;
left: 16px;
border: 1px solid;
border-radius: 10px;
}