<%- include('./Layout/header')  %>
<%- include('./Layout/navbar')  %>

<!-- --------------------------- Hero section --------------------------  -->
<section id="hero" class="mb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 hero-head-div">
                <p>Hey There</p>
                <h1>
                    The way to get started is to quit talking and begin doing.
                </h1>
            </div>
            <div class="col-lg-6">
                <a href="" >
                <img src="../assets/hero-img.png" alt="" class="img-fluid" >
            </a>
            </div>
        </div>
    </div>
</section>


<!-- ---------------------- About us section ---------------------  -->
 <section id="about-us mt-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6">
                <img src="../assets/about.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <h1>About us</h1>
                <p class="light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi eos fugiat beatae eius nobis, recusandae placeat quis doloribus reprehenderit, similique, maiores ipsam mollitia nihil earum ut quibusdam neque! Perferendis quis, incidunt saepe amet temporibus deserunt minima! Exercitationem aut at atque tenetur mollitia minima fugiat dolor aliquam quia iure ipsum quo sequi unde cumque </p>
                <p class="light">ipsam cum consectetur perspiciatis perferendis, fugit voluptatibus. Tenetur quia sapiente reprehenderit fugiat commodi tempora officiis? Quasi odit dolor quo, iusto pariatur quos aperiam molestias quaerat ratione commodi ea praesentium!</p>
                <a href="" class="btn"> Contact Us</a>
                <a href="" class="btn-second"> Grab Offer</a>
            </div>
        </div>
    </div>
 </section>

 <!-- -------------- Pricing section -----------------  -->
  <section id="pricing" class="mb-5">
    <div class="container-fluid">
        <h1 class="text-center">Our Pricing</h1>
        <p class="dim text-center">Grab best offers from here</p>
        <div class="row">
            <div class="col-lg-3 col-md-4 price-card">
                <h5>Basic Plan</h5>
                <hr/>
                <h3>₹300 <span class="small text-dark">/ Month</span></h3>
                <p class="small"><i class='bx bx-check green'></i>Invidual Pack</p>
                <p class="small"><i class='bx bx-check green'></i>Maximum 10 task</p>
                <p class="small"><i class='bx bx-check green'></i>Duration 24 Hrs</p>
                <a href="" ><button class="btn-second w-100">Grab Now</button></a>
            </div>
            <div class="col-lg-3 col-md-4 price-card card-2">
                <h5>Basic Plan</h5>
                <hr/>
                <h3>₹300 <span class="small text-dark">/ Month</span></h3>
                <p class="small"><i class='bx bx-check green'></i>Invidual Pack</p>
                <p class="small"><i class='bx bx-check green'></i>Maximum 10 task</p>
                <p class="small"><i class='bx bx-check green'></i>Duration 24 Hrs</p>
                <a href="" ><button class="btn-second w-100">Grab Now</button></a>
            </div>
            <div class="col-lg-3 col-md-4 price-card card-3">
                <h5>Basic Plan</h5>
                <hr/>
                <h3>₹300 <span class="small text-dark">/ Month</span></h3>
                <p class="small"><i class='bx bx-check green'></i>Invidual Pack</p>
                <p class="small"><i class='bx bx-check green'></i>Maximum 10 task</p>
                <p class="small"><i class='bx bx-check green'></i>Duration 24 Hrs</p>
                <a href="" ><button class="btn-second w-100">Grab Now</button></a>
            </div>
            
        </div>
    </div>
  </section>

  <!-- ---------------- contact us section ------------------  -->
   <section id="contact-us" class="mt-5 pt-4">
    <div class="container mt-5">
        <h1 class="text-center">Get In Touch</h1>
        <div class="row mt-5">
            <div class="col-8 offset-2 p-5 form-div" >
                <form action="" class="">
                    <div class="form-group mb-4">
                        <label for="" class="mb-2">Your Name</label>
                        <input type="text" class="w-100">
                    </div>
                    <div class="form-group mb-4">
                        <label for="" class="mb-2">Your Email ID</label>
                        <input type="text" class="w-100">
                    </div>
                    <div class="form-group mb-4">
                        <label for="" class="mb-2">Subject</label>
                        <input type="text" class="w-100">
                    </div>
                    <div class="form-group mb-4">
                        <label for="" class="mb-2">Your Name</label>
                        <textarea name="" id="" class="w-100"></textarea>
                    </div>
                    <button class="btn"> <i class='bx bxs-paper-plane'></i> Send</button>
                </form>
            </div>
        </div>
    </div>
   </section>

   <!-- ---------------------- Footer section style ----------------  -->

   <footer class="mt-5 p-3">
    <div class="container-fluid ml-5 mr-5">
        <div class="row">
            <div class="col-lg-4 flex-img"><img src="../assets/logo.png" alt="" class="img-fluid" style="width: 6.5rem; margin-left: 7rem;"></div>
            <div class="col-lg-4">
                <ul>
                    <li><a href="#" class="flex">About us</a></li>
                    <li><a href="#" class="flex">Pricing</a></li>
                    <li><a href="#" class="flex">Contact us</a></li>
                    
                </ul>
            </div>
            <div class="col-lg-4">
                <ul>
                    <li><a href="#" class="flex"><i class='bx bxl-facebook-circle'></i> Facebook</a></li>
                    <li><a href="#" class="flex"><i class='bx bxl-instagram' ></i> Instagram</a></li>
                    <li><a href="#" class="flex"><i class='bx bxl-github'></i> GitHub</a></li>
                    

                </ul>
            </div>
        </div>
    </div>
   </footer>