<%- include('./Layout/header')  %>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-6 login-half">
            <div class="border p-5 animate__animated animate__backInLeft">
                
                <h3 class="mb-3 text-center ">Sign up</h3>
                <form action="/signup" method="post" id="login-form">
                     <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label" >Name</label>
                        <input type="text" class="form-control" name="userName" id="userName">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label" >Email address</label>
                        <input type="email" class="form-control" name="userEmail" id="email">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">password</label>
                        <input type="password" class="form-control"  name="password" id="password">
                      </div>
                      <button type="submit" class="btn w-100 mt-3" id="signup_button">Create Account</button>
                      <hr>
                      <span class="text-secondary">do you have your account ? <a href="/login">Login</a></span>
                </form>
            </div>
        </div>
    <div class="col-sm-12 col-lg-6"><img src="../assets/signup.jpg" alt="" class="img-fluid"></div>
    </div>
</div>

<%- include('./Layout/footer')  %>



